/* General styles for body and layout */
body {
  margin: 0px;
  padding: 0%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column; /* Stack header, content, and footer vertically */
  min-height: 100vh; /* Ensures the body covers the full viewport height */
  background-color: #f1fafe;
  width: 100%;
}

/* Container for centering and max width */
bannerlevel1 {
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #506b76;
  text-align: left;
  height: 30px;
}

bannerlevel2 {
  width: 100%;
  background-color: #cedbe0;
  font-family: Arial, sans-serif;
  height: 20px;
  text-align: right;
}

/* Container for centering and max width */
.container {
  max-width: 100%; /* Restricts the width for large screens */
  margin: 0 auto; /* Centers the content */
}

/* Footer styles */
footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto; /* Ensures footer sticks at the bottom of the page */
}

/* Heading styles */
h2,
h3 {
  color: #03161e;
}

h1 {
  color: #f1fafe;
  font-size: 15px;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
}

h3 {
  font-size: 1.5rem;
  margin-top: 15px;
}

/* Links */
a {
  color: #d01cb8;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #2980b9;
}

/* List styles */
ul {
  margin: 10px 0;
}

ul li {
  margin-bottom: 5px;
}
